.home-page {
  color: $gray_arrow;

  .section {
    background-color: $white;
    height: 100vh;

    &.in-show {
      .background {
        transform: scale(1, 1);
      }

      .ltr-bg {
        &__content {
          .container {
            display: block;
          }
        }

        &__background {
          &::before {
            left: 100%;
          }
        }
      }

      .rtl-bg {
        .item {
          &__bg {
            .bg {
              transform: scale(1);
            }

            &::before {
              right: 100%;
            }
          }
        }
      }
    }
  }

  .ltr-bg {
    flex-direction: row;
    display: flex;

    &__type {
      font-family: 'Work Sans', sans-serif;
      font-size: em(15px);
      text-transform: uppercase;
      margin-bottom: em(30px);
    }

    &__title {
      margin-bottom: em(30px);

      .title {
        font-size: em(30px);
        font-family: 'Playfair Display', serif;
      }

      .sub {
        font-size: em(19px, 30px);
        line-height: em(21px, 19px);
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100vh;
      width: 50vw;
      padding: 0 em(15px);

      .container {
        display: none;
        max-width: em(500px);
      }
    }

    &__detail {
      font-family: 'Sofia', cursive;
    }

    &__background {
      position: relative;
      overflow: hidden;
      height: 100vh;
      flex-grow: 1;

      .background {
        width: percentage(1);
        height: percentage(1);
        background-size: cover;
        background-position: center;
        transform: scale(1.2, 1.2);
        transition: transform 1s ease;
        z-index: 1;
      }

      &::before {
        content: '';
        width: percentage(1);
        height: percentage(1);
        position: absolute;
        top: 0;
        left: 0;
        background-color: $white;
        z-index: 2;
        transition: left 1s ease;
      }
    }
  }

  .rtl-bg {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    .slider {
      .slick-slide {
        outline: none
      }

      .item {
        font-family: 'Work Sans', sans-serif;
        font-size: em(12px);
        width: 80vw;
        overflow: hidden;
        margin-right: 45px;

        &.slick-current {
          .item {
            &__desc {
              display: flex;
            }
          }

          .bg {
            opacity: 1;
          }
        }

        &__title,
        &__page {
          font-size: em(14px, 12px);
          cursor: text;
        }

        &__bg {
          position: relative;
          overflow: hidden;

          .bg {
            width: percentage(1);
            height: 60vh;
            background-position: center;
            background-size: cover;
            transform: scale(1.2, 1.2);
            transition: transform 1s ease;
            z-index: 1;
            opacity: .2;
          }

          &:before {
            content: '';
            width: percentage(1);
            height: percentage(1);
            position: absolute;
            top: 0;
            right: 0;
            background-color: $white;
            z-index: 2;
            transition: right 1s ease;
          }
        }

        &__desc {
          display: none;
          flex-direction: row;
          justify-content: space-between;
          margin-top: em(50px);
        }

        &__actions {

          .fas {
            color: $gray_arrow;
            padding: 0 em(10px);
            cursor: pointer;
          }
        }
      }
    }
  }

  @include max-md() {

    .fp-section,
    .fp-slide,
    .fp-tableCell {
      height: auto !important;
    }

    .section {
      height: auto;

      .ltr-bg {
        display: flex;
        flex-direction: column;

        &__content {
          order: 1;
          width: 100%;
          height: auto;
          padding: 50px;

          .container {
            display: block;
          }
        }

        &__background {
          width: 100%;
          max-height: 15vh;

          &::before {
            content: none;
          }
        }
      }

      .rtl-bg {
        .item {
          &__bg {
            &::before {
              content: none;
            }

            .bg {
              height: 50vh;
            }
          }

          &__actions {
            display: none;
          }
        }
      }
    }
  }
}