<!-- header -->
<header id="main_header" class="header__main">
  <div class="">
    <section class="top-bar">
      <div class="top-bar__content">
        <span class="icon-pumpkin">🎃</span>
        &nbsp;Use Code “HALLOWEEN” at checkout 25% OFF&nbsp;
        <span class="icon-pumpkin">🎃</span>
      </div>
    </section>

    <div class="header__wrapper container align-items-center">
      <div class="header__logo">
        <a href="/" title="homepage">
          <svg class="icon" width="214" height="38">
            <use xlink:href="#logo" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </a>
      </div>

      <nav class="header__nav">
        <div class="header__mobile">
          <h2 class="header__title"> Welcome to Turned Ninja! </h2>
          <div class="btn-group-mobile">
            <button class="btn btn__gray--2" data-toggle="modal" data-dismiss="modal" data-target="#login"> LOGIN
            </button>
            <button class="btn btn__orange" data-toggle="modal" data-target="#signup" data-dismiss="modal"> CREATE
              ACCOUNT </button>
          </div>
        </div>
        <ul class="header__menu">
          <li class="header__item">
            <a href="/turn-me-ninja" class="header__link" title="turn me ninja">
              TURN ME NINJA
            </a>
          </li>
          <li class="header__item">
            <a href="/faqs" class="header__link" title="faqs">
              FAQS
            </a>
          </li>
          <li class="header__item">
            <a href="/reviews" class="header__link" title="review"> REVIEWS</a>
          </li>
          <li class="header__item">
            <a href="/contact" class="header__link" title="contact"> CONTACT</a>
          </li>
        </ul>
      </nav>

      <div class="header__actions">
        <div class="header__dropdown">
          <select class="header__language form-control">
            <option>USD </option>
            <option>VND </option>
          </select>
          <span class="arrow-down"> </span>
        </div>
        <a href="/cart" class="header__action">
          <svg class="icon" width="20" height="20">
            <use xlink:href="#icon-cart" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </a>
        <a href="#" class="header__action header__action--login" data-toggle="modal" data-dismiss="modal"
          data-target="#login">
          <svg class="icon-user" width="20" height="20">
            <use xlink:href="#icon-user" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </a>
        <form class="header__search">
          <input class="input-search" placeholder="Search..." type="text" id="search" name="search" />
          <svg class="icon-search" width="20" height="20">
            <use xlink:href="#icon-search" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
          <svg class="icon-close" width="25" height="50">
            <use xlink:href="#icon-close" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </form>
        <div class="header__toogle">
          <div class="header__toogle__btn">
            <div class="header__toogle__bar"></div>
            <div class="header__toogle__bar"></div>
            <div class="header__toogle__bar"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="tooltip-custom hide">
      <div class="bubble-arrow">

      </div>

      <div class="tooltip-custom__header">
        <h3 class="tooltip-custom__title">
          MY ACCOUNT
        </h3>
        <a href="#">
          LOG OUT
        </a>
      </div>

      <div class="tooltip-custom__body">
        <div class="tooltip-custom__welcome">
          <span class="welcome-text">Welcome</span>
          <span class="your-name"> Phong Dinh!</span>
        </div>
        <div class="tooltip-custom__actions">
          <button class="btn btn__gray--2">MY ORDERS</button>
          <button class="btn btn__orange">MANAGE ACCOUNT</button>
        </div>
      </div>
    </div>
</header>
<!-- end header -->