<svg xmlns="http://www.w3.org/2000/svg" style="width:0;height:0;position:absolute" visibility="hidden">
  <symbol id="icon-cart" fill="none" viewBox="0 0 18 19" id=".33146100500644615" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M15.536 4.814a.548.548 0 0 0-.555-.498h-1.657C13.319 1.936 11.359 0 8.95 0 6.54 0 4.58 1.936 4.575 4.316H2.918a.555.555 0 0 0-.554.498L.929 18.209a.631.631 0 0 0 .626.699l14.856.038a.632.632 0 0 0 .63-.702l-1.505-13.43zm-6.57-3.646c1.798 0 3.104 1.371 3.108 3.148H5.856c.005-1.777 1.31-3.148 3.11-3.148zm-5.444 4.43l-1.2 12.038h13.334L14.36 5.598h-1.036v1.736c0 .301-.291.548-.597.548-.305 0-.62-.247-.62-.548V5.599H5.813v1.736c0 .301-.323.548-.628.548s-.609-.247-.609-.548V5.599H3.522z"
      fill="#2F2626" />
  </symbol>
  <symbol id="icon-search" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M19 18.2366C19 18.0246 18.9293 17.8408 18.7879 17.6853L14.4196 13.3382C15.6637 11.8255 16.2857 10.0938 16.2857 8.14286C16.2857 5.89508 15.4905 3.97601 13.9001 2.3856C12.3097 0.795193 10.3906 0 8.14286 0C5.89508 0 3.97601 0.795193 2.3856 2.3856C0.795193 3.97601 0 5.89508 0 8.14286C0 10.3906 0.795193 12.3097 2.3856 13.9001C3.97601 15.4905 5.89508 16.2857 8.14286 16.2857C10.0938 16.2857 11.8255 15.6637 13.3382 14.4196L17.7065 18.7879C17.8478 18.9293 18.0246 19 18.2366 19C18.4487 19 18.6324 18.9293 18.7879 18.7879C18.9293 18.6324 19 18.4487 19 18.2366ZM12.8186 12.8186C12.2037 13.4336 11.5004 13.9107 10.7087 14.25C9.9029 14.5893 9.04762 14.7589 8.14286 14.7589C7.23809 14.7589 6.38282 14.5893 5.57701 14.25C4.78534 13.9107 4.08203 13.4336 3.46708 12.8186C2.85212 12.2037 2.38207 11.5004 2.05692 10.7087C1.7035 9.9029 1.52679 9.04762 1.52679 8.14286C1.52679 7.23809 1.7035 6.38282 2.05692 5.57701C2.38207 4.78534 2.85212 4.08203 3.46708 3.46708C4.08203 2.85212 4.78534 2.375 5.57701 2.03571C6.38282 1.69643 7.23809 1.52679 8.14286 1.52679C9.04762 1.52679 9.9029 1.69643 10.7087 2.03571C11.5004 2.375 12.2037 2.85212 12.8186 3.46708C13.4336 4.08203 13.9107 4.78534 14.25 5.57701C14.5893 6.38282 14.7589 7.23809 14.7589 8.14286C14.7589 9.04762 14.5893 9.9029 14.25 10.7087C13.9107 11.5004 13.4336 12.2037 12.8186 12.8186Z"
      fill="black" />
  </symbol>
  <symbol id="icon-user" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M13.9276 5.42504C13.9276 8.22576 11.3203 11.0249 9.09663 11.0249C6.8656 11.0249 4.26569 8.2428 4.26569 5.42504C4.26569 2.49076 6.30508 0.553955 9.09663 0.553955C11.8793 0.553955 13.9276 2.50715 13.9276 5.42504ZM5.67842 5.45605C5.67842 7.60544 7.57381 9.737 9.10008 9.737C10.619 9.737 12.5665 7.59001 12.5665 5.45605C12.5665 3.23666 11.15 1.85785 9.10008 1.85785C7.0413 1.85785 5.67842 3.22212 5.67842 5.45605Z"
      fill="#2F2626" />
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M17.1791 17.6315C17.1791 14.2357 13.6337 11.8792 8.70186 11.8792C3.83621 11.8792 0.563843 14.194 0.563843 17.6315C0.563843 18.9696 2.22039 19.5105 5.09691 19.7264C6.14634 19.8051 7.05507 19.8233 8.46407 19.8212L8.70186 19.8209L8.94131 19.8212C10.4109 19.8234 11.3799 19.8041 12.4931 19.7219C15.4747 19.5015 17.1791 18.9656 17.1791 17.6315ZM1.96123 17.4972C1.96123 14.9149 4.44964 13.1494 8.63807 13.1494C12.8949 13.1494 15.7243 14.9698 15.7243 17.4972C15.7243 17.9325 14.4276 18.3503 12.1912 18.5104C11.1574 18.5844 10.2498 18.6018 8.86812 18.5998L8.63807 18.5996L8.40959 18.5998C7.08617 18.6018 6.23621 18.5853 5.26389 18.5146C3.10656 18.3579 1.96123 17.9448 1.96123 17.4972Z"
      fill="#2F2626" />
  </symbol>
  <symbol id="icon-star" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M10 15L4.12215 18.0902L5.24472 11.5451L0.489435 6.90983L7.06107 5.95492L10 0L12.9389 5.95492L19.5106 6.90983L14.7553 11.5451L15.8779 18.0902L10 15Z"
      fill="#FFDB00" />
  </symbol>
  <symbol id="logo-no-text" viewBox="0 0 40 38" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M30.997 27.8956L31.1403 27.4299C31.2269 26.8001 31.3612 26.1911 31.8687 25.7464L31.9224 25.3434L31.941 25.309C31.9444 25.1906 31.9463 25.0717 31.9482 24.9526C31.959 24.2881 31.9699 23.6154 32.2264 22.9768L32.2209 22.9553V20.5672L32.2209 20.522C31.9842 20.0787 31.9436 19.5955 31.903 19.1116C31.8766 18.7975 31.8502 18.4832 31.7701 18.1792C31.9733 18.1686 32.1606 18.2887 32.2358 18.4777L33.7015 18.1881V17.3434C34.0444 17.8503 34.298 18.3811 34.111 19.016C34.2977 19.35 34.2316 19.6883 34.1654 20.0273C34.1536 20.0878 34.1417 20.1484 34.1313 20.209C34.4388 23.1255 34.4521 25.9685 32.8044 28.5535L32.8068 28.5452L32.8 28.5672L32.6448 28.9553C32.5936 29.0095 32.5522 29.0721 32.5224 29.1404L32.5138 29.156C32.4333 29.3027 32.3554 29.4444 32.2776 29.6001L32.2239 29.7493C32.2644 30.0133 32.1307 30.2734 31.8925 30.3941C31.7224 30.3928 31.5616 30.4722 31.4592 30.6081C31.388 30.7028 31.3508 30.817 31.3511 30.9328C31.3515 30.818 31.3886 30.7049 31.4592 30.6111C31.5616 30.4752 31.7224 30.3958 31.8925 30.3971C31.8742 30.7106 31.6694 30.9825 31.3731 31.0866L31.3727 31.0851C30.8926 32.6267 29.6748 33.4807 28.4839 34.3158L28.4839 34.3158L28.4839 34.3158L28.4838 34.3159L28.4838 34.3159L28.4837 34.3159L28.4837 34.316L28.4837 34.316C28.1927 34.52 27.9034 34.7229 27.6269 34.9344C23.7194 37.9195 19.1791 38.3075 14.4657 37.7523C10.9284 37.3374 7.92239 35.7463 5.36119 33.4031C3.30746 31.5225 1.66567 29.2687 0.895523 26.5016C0.881952 26.393 0.88546 26.2785 0.888976 26.1636C0.898608 25.8491 0.908302 25.5326 0.567165 25.3314C0.415569 25.1311 0.393465 24.8612 0.510448 24.6389C0.697344 23.5588 0.538557 22.4473 0.0567169 21.4628V19.3732C0.44957 18.7492 0.643223 18.0204 0.611941 17.2837C0.611941 17.2496 0.611235 17.2142 0.610515 17.1782C0.604291 16.8665 0.597033 16.503 1.03582 16.4896C1.49677 16.4756 1.49459 16.8585 1.49276 17.1799L1.49254 17.2389V19.6001C1.49254 20.7583 1.49254 21.9165 2.18806 22.9284C2.21045 23.0344 2.23209 23.1404 2.25373 23.2464C2.27537 23.3523 2.29702 23.4583 2.3194 23.5643C1.98806 23.9493 1.99702 24.2568 2.52239 24.4419L2.67463 25.0389C2.41493 25.7195 2.52537 26.2538 3.27164 26.5314C6.1791 32.424 11.0687 35.1165 17.4866 35.5464C21.0537 35.7852 24.2358 35.015 27.1104 32.8896C27.8131 32.3688 28.3378 31.7084 28.861 31.05C28.9735 30.9084 29.0859 30.7669 29.2 30.6269L29.2418 30.5822C29.3294 30.2558 29.5445 29.9783 29.8388 29.812C29.8492 29.8113 29.8595 29.8104 29.8695 29.8095C29.9083 29.4437 30.1106 29.1156 30.4189 28.9167L30.4179 28.8926C30.4426 28.8398 30.4662 28.7859 30.49 28.7317L30.49 28.7315C30.5066 28.6938 30.5232 28.6559 30.5403 28.618C30.547 28.617 30.5536 28.6159 30.5601 28.6147C30.5246 28.3038 30.704 28.0076 30.997 27.8956Z"
      fill="#DC2225" />
    <path
      d="M13.5731 18.2299C13.7194 19.5552 13.6955 20.8896 14.2358 22.1731C15.4896 25.1582 19.7791 26.6508 22.5373 24.9702C23.9343 24.1134 24.4418 22.7911 24.4567 21.1791C24.4567 19.6597 23.7224 18.7911 22.391 18.2508C21.4955 17.8925 20.8627 17.2896 20.8746 16.2597C20.8746 15.5254 21.1731 14.8388 21.9224 14.6209C22.9672 14.3224 24.0119 14.4328 24.8328 15.2448C27.4627 17.8358 27.9134 25.3731 22.2239 27.2448C17.4985 28.809 12.6716 26.1911 11.6 21.2746C11.6756 21.0224 11.5988 20.7492 11.403 20.5731C11.2555 20.0813 11.2401 19.5594 11.3582 19.0597C11.7582 18.6896 11.7126 18.32 11.4239 17.9105L11.4507 16.9761C12.0896 16.3313 12.5194 14.8597 13.7313 16.3791C13.6985 16.7761 13.6567 17.1731 13.6269 17.5731C13.0627 17.7463 13.0836 17.9702 13.5731 18.2299Z"
      fill="#DC3725" />
    <path
      d="M4.20299 7.9821C10.0209 1.03284 17.4239 -1.54925 26.6776 1.12538C29.1334 1.81073 31.4217 2.99453 33.4 4.60299C32.5761 4.8418 31.5164 4.80896 31.6328 6.13135C29.397 4.86568 27.2896 3.41493 24.6866 2.87464C19.5254 1.80001 14.8 2.77613 10.2418 5.32837C8.34926 6.39404 7.09851 8.1224 5.36418 9.30747C4.63583 9.48061 4.17015 8.98508 3.67165 8.61792C3.67731 8.51432 3.75431 8.42862 3.85672 8.41195L4.20299 7.9821Z"
      fill="#DF5525" />
    <path d="M4.20299 7.98218L3.87164 8.41203C3.88657 8.1971 3.96717 8.02695 4.20299 7.98218Z" fill="#DB4926" />
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M11.8585 16.4791C12.3208 15.8357 12.7829 15.1925 13.7313 16.3792C13.9361 16.0309 14.1174 15.6711 14.2986 15.3114L14.2986 15.3114L14.2986 15.3114C14.7883 14.3392 15.2777 13.3678 16.2299 12.627C19.0149 10.4718 22.0896 10.5882 25.2149 11.215C28.7642 11.9135 30.5761 14.4449 31.603 17.6897L31.6388 17.7792C31.6582 17.8477 31.6783 17.9155 31.6984 17.9833L31.6985 17.9836C31.7187 18.0516 31.7388 18.1195 31.7582 18.1882C31.9614 18.1776 32.1487 18.2977 32.2239 18.4867L33.7164 18.1882V17.3434C33.6836 17.2062 33.6538 17.0689 33.6239 16.9317L33.6239 16.9315C33.5836 16.8589 33.5433 16.7802 33.5025 16.7006L33.5024 16.7005L33.5023 16.7004C33.4677 16.6327 33.4327 16.5644 33.397 16.4986L33.3582 16.3822L33.1731 15.9523C32.7992 15.4458 32.6005 14.8597 32.3995 14.2665L32.3995 14.2665C32.1432 13.5103 31.8831 12.7425 31.2508 12.1135C28.9642 9.8419 26.4119 8.68369 23.1284 8.44489C17.9702 8.05981 12.1731 11.8121 11.4627 16.9762C11.6016 16.8367 11.73 16.6579 11.8585 16.4791ZM11.3582 19.0777C11.7582 18.7076 11.7224 18.3165 11.4239 17.9106C11.4167 18.0393 11.4091 18.1698 11.4014 18.3022L11.4014 18.3023L11.4014 18.3023L11.4014 18.3023C11.3869 18.5537 11.3719 18.8119 11.3582 19.0777ZM13.5731 18.23C13.0836 17.9703 13.0627 17.7464 13.6269 17.5703L13.5731 18.23ZM11.403 20.5762C11.5988 20.7523 11.6756 21.0255 11.6 21.2777C11.4015 21.1033 11.3243 20.8284 11.403 20.5762Z"
      fill="#DB4926" />
    <path
      d="M31.6208 6.12553C31.5044 4.80314 32.5641 4.83597 33.3879 4.59717C36.6954 6.89269 38.8626 9.95239 39.382 14.0002C39.5491 15.2867 40.179 16.5643 39.6297 18.1613C37.6745 13.5166 35.2506 9.40314 31.6208 6.12553Z"
      fill="#DB4926" />
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M3.90689 8.76815L3.9069 8.76815C4.32799 9.0978 4.75736 9.43392 5.3766 9.28672C5.08447 9.83317 4.7579 10.3602 4.43123 10.8873L4.43122 10.8873L4.43121 10.8873L4.43121 10.8873C3.72645 12.0246 3.0212 13.1627 2.66018 14.4987C1.91245 17.2677 1.7518 20.1624 2.18854 22.9972C1.496 21.9852 1.48916 20.8275 1.48916 19.6693V17.3082C1.48916 17.2827 1.48943 17.2565 1.4897 17.2299L1.4897 17.2299C1.493 16.911 1.49691 16.5326 1.04227 16.5464C0.59931 16.5598 0.605596 16.8942 0.611349 17.2002C0.611993 17.2345 0.61263 17.2684 0.61263 17.3014C0.643912 18.0381 0.438109 18.806 0.0452557 19.43C-0.106983 15.3584 1.34376 11.83 3.68406 8.59717C3.75874 8.65217 3.83269 8.71006 3.90689 8.76815L3.90689 8.76815ZM0.0567223 21.4628C0.539578 22.4471 0.699412 23.5586 0.513439 24.639C-0.0703536 23.8746 -0.0206828 23.0182 0.0289595 22.1623C0.0425217 21.9285 0.0560818 21.6947 0.0567223 21.4628ZM3.27165 26.5315C2.52538 26.2539 2.41493 25.7196 2.67463 25.039L3.27165 26.5315ZM2.51941 24.4419C1.99404 24.2569 1.98508 23.9494 2.31642 23.5643C2.50232 23.8163 2.57578 24.1339 2.51941 24.4419ZM0.893152 26.1613C0.904428 25.8468 0.915777 25.5302 0.570155 25.3315C0.571032 25.3724 0.571508 25.4134 0.571984 25.4545C0.576372 25.8325 0.580762 26.2108 0.898513 26.5016C0.884866 26.3925 0.889004 26.277 0.893152 26.1613Z"
      fill="#DB4926" />
    <path d="M33.3582 16.3822L33.1731 15.9524L33.3582 16.3822Z" fill="#D62726" />
  </symbol>
  <symbol id="icon-facebook" viewBox="0 0 12 23" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M7.5 8H11.25L10.7812 11.75H7.5V23H2.63672V11.75H0V8H2.63672V5.48047C2.63672 3.83984 3.04688 2.60938 3.86719 1.78906C4.6875 0.929687 6.05469 0.5 7.96875 0.5H11.25V4.25H9.25781C8.51562 4.25 8.02734 4.36719 7.79297 4.60156C7.59766 4.83594 7.5 5.22656 7.5 5.77344V8Z"
      fill="currentColor" />
  </symbol>
  <symbol id="icon-instagram" viewBox="0 0 26 27" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M17.1429 13.2857C17.1429 15.6462 15.2176 17.5714 12.8571 17.5714C10.4967 17.5714 8.57143 15.6462 8.57143 13.2857C8.57143 10.9252 10.4967 9 12.8571 9C15.2176 9 17.1429 10.9252 17.1429 13.2857ZM19.4531 13.2857C19.4531 9.63616 16.5067 6.68973 12.8571 6.68973C9.20759 6.68973 6.26116 9.63616 6.26116 13.2857C6.26116 16.9353 9.20759 19.8817 12.8571 19.8817C16.5067 19.8817 19.4531 16.9353 19.4531 13.2857ZM21.2612 6.42188C21.2612 5.56808 20.5748 4.8817 19.721 4.8817C18.8672 4.8817 18.1808 5.56808 18.1808 6.42188C18.1808 7.27567 18.8672 7.96205 19.721 7.96205C20.5748 7.96205 21.2612 7.27567 21.2612 6.42188ZM12.8571 2.73884C14.7321 2.73884 18.75 2.58817 20.4408 3.25781C21.0268 3.49219 21.4621 3.77678 21.9141 4.22879C22.3661 4.6808 22.6507 5.11607 22.885 5.70201C23.5547 7.39286 23.404 11.4107 23.404 13.2857C23.404 15.1607 23.5547 19.1786 22.885 20.8694C22.6507 21.4554 22.3661 21.8906 21.9141 22.3426C21.4621 22.7946 21.0268 23.0792 20.4408 23.3136C18.75 23.9833 14.7321 23.8326 12.8571 23.8326C10.9821 23.8326 6.96429 23.9833 5.27344 23.3136C4.6875 23.0792 4.25223 22.7946 3.80022 22.3426C3.34821 21.8906 3.06362 21.4554 2.82924 20.8694C2.1596 19.1786 2.31027 15.1607 2.31027 13.2857C2.31027 11.4107 2.1596 7.39286 2.82924 5.70201C3.06362 5.11607 3.34821 4.6808 3.80022 4.22879C4.25223 3.77678 4.6875 3.49219 5.27344 3.25781C6.96429 2.58817 10.9821 2.73884 12.8571 2.73884ZM25.7143 13.2857C25.7143 11.5112 25.731 9.75335 25.6306 7.97879C25.5301 5.91964 25.0614 4.09487 23.5547 2.58817C22.048 1.08147 20.2232 0.612722 18.1641 0.512277C16.3895 0.41183 14.6317 0.42857 12.8571 0.42857C11.0826 0.42857 9.32478 0.41183 7.55022 0.512277C5.49107 0.612722 3.66629 1.08147 2.1596 2.58817C0.652902 4.09487 0.184152 5.91964 0.0837054 7.97879C-0.0167411 9.75335 0 11.5112 0 13.2857C0 15.0603 -0.0167411 16.8181 0.0837054 18.5926C0.184152 20.6518 0.652902 22.4766 2.1596 23.9833C3.66629 25.49 5.49107 25.9587 7.55022 26.0592C9.32478 26.1596 11.0826 26.1429 12.8571 26.1429C14.6317 26.1429 16.3895 26.1596 18.1641 26.0592C20.2232 25.9587 22.048 25.49 23.5547 23.9833C25.0614 22.4766 25.5301 20.6518 25.6306 18.5926C25.731 16.8181 25.7143 15.0603 25.7143 13.2857Z"
      fill="currentColor" />
  </symbol>
  <symbol id="icon-message" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M16.3047 0H1.59766C1.20703 0 0.875 0.136719 0.601562 0.410156C0.328125 0.683594 0.191406 1.01562 0.191406 1.40625V13.6328C0.191406 14.0234 0.328125 14.3555 0.601562 14.6289C0.875 14.9023 1.20703 15.0391 1.59766 15.0391H16.3047C16.6953 15.0391 17.0273 14.9023 17.3008 14.6289C17.5742 14.3555 17.7109 14.0234 17.7109 13.6328V1.40625C17.7109 1.01562 17.5742 0.683594 17.3008 0.410156C17.0273 0.136719 16.6953 0 16.3047 0ZM14.8008 1.40625L9.56641 5.78125L9.52734 5.80078L9.50781 5.83984C9.36458 5.98307 9.19531 6.05469 9 6.05469H8.98047C8.78516 6.05469 8.6224 5.98307 8.49219 5.83984L8.45312 5.82031L3.10156 1.40625H14.8008ZM16.3047 13.6328H1.59766V1.97266L7.51562 6.85547C7.91927 7.25911 8.41406 7.46094 9 7.46094C9.58594 7.46094 10.0807 7.2526 10.4844 6.83594L16.3047 1.97266V13.6328Z"
      fill="white" />
  </symbol>
  <symbol id="icon-arrow-left" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M7 1L1 6.4499L7 12" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
  </symbol>
  <symbol id="icon-arrow-right" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1 1L7 6.4499L1 12" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
  </symbol>
  <symbol id="icon-close" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M12.2432 2.32156C11.4697 3.07421 10.8721 3.70224 10.4502 4.20567L10.2255 4.4789C9.77855 5.01258 9.1386 5.72649 8.30566 6.62062L10.1514 8.81128C10.8779 9.66362 11.5312 10.3689 12.1113 10.9272C12.3281 11.1365 12.4365 11.3608 12.4365 11.6001C12.4365 11.8792 12.312 12.1209 12.063 12.3253C11.814 12.5297 11.5195 12.6318 11.1797 12.6318C10.5996 12.6318 9.84083 12.0636 8.90332 10.9272L8.48579 10.394C8.27781 10.1325 8.02735 9.82173 7.73438 9.46174L6.61816 8.16828L5.91732 8.8349C5.33162 9.38688 4.65118 10.017 3.87598 10.7253L3.50815 11.0721C3.18208 11.3742 2.7627 11.7521 2.25 12.2057C1.99219 12.415 1.69629 12.5197 1.3623 12.5197C1.02246 12.5197 0.726564 12.4188 0.474609 12.2169C0.222655 12.015 0.0966797 11.7745 0.0966797 11.4954C0.0966797 11.2561 0.199218 11.0368 0.404297 10.8374L2.00391 9.39445C2.77735 8.68666 3.81152 7.71471 5.10645 6.47856C4.6626 6.00006 4.20062 5.52156 3.72052 5.04305L3.19456 4.52396C3.08048 4.40433 2.75977 4.054 2.23242 3.47296C1.82812 3.02934 1.45752 2.69414 1.12061 2.46735C0.78369 2.24056 0.615234 1.97265 0.615234 1.66361C0.615234 1.39944 0.733886 1.16143 0.971191 0.949593C1.2085 0.737754 1.50586 0.631836 1.86328 0.631836C2.17969 0.631836 2.5957 0.821242 3.11133 1.20006C3.48633 1.47919 3.79687 1.75956 4.04297 2.04118L4.3705 2.41005C4.58061 2.64389 4.83765 2.92592 5.1416 3.25613C5.7041 3.79944 6.24609 4.35021 6.76758 4.90847C7.50586 4.08105 8.24121 3.25365 8.97363 2.42623L9.32062 2.06834C10.2698 1.11067 10.9305 0.631836 11.3027 0.631836C11.6426 0.631836 11.9385 0.732769 12.1904 0.93464C12.4424 1.13651 12.5684 1.37701 12.5684 1.65613C12.5684 1.8904 12.46 2.11221 12.2432 2.32156Z"
      fill="black" />
  </symbol>
  <symbol id="logo" viewBox="0 0 214 38" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M30.997 27.8955L31.1403 27.4298C31.2269 26.8 31.3612 26.191 31.8686 25.7463L31.9224 25.3433L31.941 25.3089C31.9444 25.1905 31.9463 25.0716 31.9482 24.9525C31.959 24.288 31.9698 23.6153 32.2264 22.9767L32.2209 22.9552V20.5672L32.2209 20.5219C31.9841 20.0786 31.9436 19.5954 31.9029 19.1115C31.8766 18.7975 31.8502 18.4831 31.7701 18.1791C31.9733 18.1685 32.1606 18.2886 32.2358 18.4776L33.7015 18.188V17.3433C34.0444 17.8502 34.298 18.381 34.111 19.0159C34.2977 19.3499 34.2316 19.6882 34.1654 20.0272C34.1536 20.0877 34.1417 20.1483 34.1313 20.2089C34.4388 23.1254 34.4521 25.9684 32.8044 28.5534L32.8068 28.5451L32.8 28.5672L32.6448 28.9552C32.5936 29.0094 32.5522 29.072 32.5224 29.1403L32.5138 29.1559C32.4333 29.3026 32.3554 29.4443 32.2776 29.6L32.2239 29.7492C32.2643 30.0132 32.1307 30.2733 31.8925 30.394C31.7223 30.3927 31.5616 30.4721 31.4592 30.608C31.3879 30.7027 31.3508 30.8169 31.3511 30.9327C31.3514 30.818 31.3886 30.7048 31.4592 30.611C31.5616 30.4751 31.7223 30.3957 31.8925 30.397C31.8742 30.7105 31.6694 30.9824 31.3731 31.0866L31.3727 31.085C30.8926 32.6266 29.6748 33.4806 28.4839 34.3157L28.4839 34.3157L28.4839 34.3158L28.4838 34.3158L28.4838 34.3158L28.4837 34.3158L28.4837 34.3159L28.4837 34.3159C28.1927 34.5199 27.9034 34.7228 27.6269 34.9343C23.7194 37.9194 19.1791 38.3075 14.4657 37.7522C10.9283 37.3373 7.92237 35.7463 5.36118 33.403C3.30745 31.5224 1.66566 29.2686 0.895508 26.5015C0.881937 26.3929 0.885445 26.2784 0.888961 26.1636C0.898593 25.849 0.908287 25.5325 0.567149 25.3313C0.415554 25.131 0.39345 24.8611 0.510433 24.6388C0.697329 23.5587 0.538542 22.4472 0.0567017 21.4627V19.3731C0.449555 18.7491 0.643207 18.0203 0.611926 17.2836C0.611926 17.2495 0.611219 17.2142 0.610499 17.1781C0.604276 16.8664 0.597018 16.5029 1.03581 16.4895C1.49675 16.4755 1.49458 16.8584 1.49275 17.1798L1.49252 17.2388V19.6C1.49252 20.7582 1.49252 21.9164 2.18805 22.9283C2.21043 23.0343 2.23207 23.1403 2.25372 23.2463C2.27536 23.3522 2.297 23.4582 2.31939 23.5642C1.98804 23.9492 1.997 24.2567 2.52237 24.4418L2.67461 25.0388C2.41491 25.7194 2.52536 26.2537 3.27163 26.5313C6.17909 32.4239 11.0686 35.1164 17.4866 35.5463C21.0537 35.7851 24.2358 35.0149 27.1104 32.8895C27.8131 32.3687 28.3378 31.7084 28.8609 31.0499C28.9734 30.9083 29.0859 30.7669 29.2 30.6269L29.2418 30.5821C29.3294 30.2557 29.5445 29.9782 29.8388 29.8119C29.8492 29.8112 29.8595 29.8103 29.8695 29.8094C29.9083 29.4436 30.1106 29.1155 30.4189 28.9166L30.4179 28.8925C30.4425 28.8397 30.4662 28.7859 30.49 28.7316L30.49 28.7314C30.5065 28.6937 30.5232 28.6558 30.5403 28.6179C30.547 28.6169 30.5536 28.6158 30.5601 28.6147C30.5245 28.3037 30.704 28.0076 30.997 27.8955Z"
      fill="#DC2225" />
    <path
      d="M13.5732 18.2299C13.7194 19.5552 13.6955 20.8896 14.2358 22.1731C15.4896 25.1582 19.7791 26.6508 22.5373 24.9702C23.9343 24.1134 24.4418 22.7911 24.4567 21.1791C24.4567 19.6597 23.7224 18.7911 22.3911 18.2508C21.4955 17.8925 20.8627 17.2896 20.8746 16.2597C20.8746 15.5254 21.1732 14.8388 21.9224 14.6209C22.9672 14.3224 24.012 14.4328 24.8329 15.2448C27.4627 17.8358 27.9135 25.3731 22.2239 27.2448C17.4985 28.809 12.6717 26.1911 11.6 21.2746C11.6756 21.0224 11.5989 20.7492 11.403 20.5731C11.2555 20.0813 11.2401 19.5594 11.3582 19.0597C11.7582 18.6896 11.7126 18.32 11.4239 17.9105L11.4508 16.9761C12.0896 16.3313 12.5194 14.8597 13.7314 16.3791C13.6985 16.7761 13.6567 17.1731 13.6269 17.5731C13.0627 17.7463 13.0836 17.9702 13.5732 18.2299Z"
      fill="#DC3725" />
    <path
      d="M4.20297 7.98204C10.0209 1.03278 17.4239 -1.54931 26.6776 1.12532C29.1334 1.81067 31.4217 2.99447 33.4 4.60293C32.5761 4.84174 31.5164 4.8089 31.6328 6.13129C29.397 4.86562 27.2895 3.41487 24.6866 2.87457C19.5254 1.79995 14.8 2.77607 10.2418 5.32831C8.34924 6.39398 7.0985 8.12234 5.36417 9.30741C4.63581 9.48055 4.17014 8.98502 3.67163 8.61786C3.67729 8.51426 3.7543 8.42856 3.85671 8.41189L4.20297 7.98204Z"
      fill="#DF5525" />
    <path d="M4.20299 7.98203L3.87164 8.41188C3.88657 8.19695 3.96717 8.0268 4.20299 7.98203Z" fill="#DB4926" />
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M11.8585 16.479C12.3208 15.8356 12.7829 15.1924 13.7313 16.3791C13.9361 16.0308 14.1174 15.671 14.2986 15.3113L14.2986 15.3113L14.2986 15.3113C14.7883 14.3391 15.2777 13.3677 16.2299 12.6269C19.0149 10.4716 22.0896 10.588 25.2149 11.2149C28.7642 11.9134 30.5761 14.4448 31.603 17.6895L31.6388 17.7791C31.6582 17.8476 31.6783 17.9154 31.6984 17.9832L31.6985 17.9835C31.7187 18.0514 31.7388 18.1194 31.7582 18.188C31.9614 18.1775 32.1487 18.2975 32.2239 18.4866L33.7164 18.188V17.3433C33.6836 17.206 33.6538 17.0688 33.6239 16.9316L33.6239 16.9313C33.5836 16.8588 33.5433 16.7801 33.5025 16.7005L33.5024 16.7004L33.5023 16.7003C33.4677 16.6326 33.4327 16.5643 33.397 16.4985L33.3582 16.3821L33.1731 15.9522C32.7992 15.4457 32.6005 14.8596 32.3995 14.2664L32.3995 14.2664C32.1432 13.5101 31.8831 12.7424 31.2508 12.1134C28.9642 9.84178 26.4119 8.68357 23.1284 8.44476C17.9702 8.05969 12.1731 11.8119 11.4627 16.9761C11.6016 16.8366 11.73 16.6578 11.8585 16.479ZM11.3582 19.0776C11.7582 18.7075 11.7224 18.3164 11.4239 17.9104C11.4167 18.0392 11.4091 18.1697 11.4014 18.3021L11.4014 18.3022L11.4014 18.3022L11.4014 18.3022C11.3869 18.5536 11.3719 18.8117 11.3582 19.0776ZM13.5731 18.2298C13.0836 17.9701 13.0627 17.7463 13.6269 17.5701L13.5731 18.2298ZM11.403 20.5761C11.5988 20.7521 11.6756 21.0253 11.6 21.2776C11.4015 21.1032 11.3243 20.8283 11.403 20.5761Z"
      fill="#DB4926" />
    <path
      d="M31.6208 6.12537C31.5043 4.80299 32.564 4.83582 33.3879 4.59702C36.6954 6.89254 38.8626 9.95224 39.382 14C39.5491 15.2866 40.179 16.5642 39.6297 18.1612C37.6745 13.5164 35.2506 9.40299 31.6208 6.12537Z"
      fill="#DB4926" />
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M3.90689 8.76799L3.9069 8.768C4.32799 9.09764 4.75736 9.43376 5.3766 9.28657C5.08447 9.83302 4.7579 10.36 4.43123 10.8872L4.43122 10.8872L4.43121 10.8872L4.43121 10.8872C3.72645 12.0245 3.0212 13.1625 2.66018 14.4985C1.91245 17.2675 1.7518 20.1623 2.18854 22.997C1.496 21.9851 1.48916 20.8273 1.48916 19.6691V17.308C1.48916 17.2825 1.48943 17.2563 1.4897 17.2298L1.4897 17.2297C1.493 16.9108 1.49691 16.5325 1.04227 16.5463C0.59931 16.5597 0.605596 16.894 0.611349 17.2001C0.611993 17.2343 0.61263 17.2682 0.61263 17.3013C0.643912 18.038 0.438109 18.8058 0.0452557 19.4299C-0.106983 15.3582 1.34376 11.8299 3.68406 8.59702C3.75874 8.65202 3.83269 8.70991 3.90689 8.76799L3.90689 8.76799ZM0.0567223 21.4627C0.539578 22.4469 0.699412 23.5584 0.513439 24.6388C-0.0703536 23.8745 -0.0206828 23.0181 0.0289595 22.1622C0.0425217 21.9284 0.0560818 21.6946 0.0567223 21.4627ZM3.27165 26.5313C2.52538 26.2537 2.41493 25.7194 2.67463 25.0388L3.27165 26.5313ZM2.51941 24.4418C1.99404 24.2567 1.98508 23.9493 2.31642 23.5642C2.50232 23.8162 2.57578 24.1338 2.51941 24.4418ZM0.893152 26.1612C0.904428 25.8466 0.915777 25.5301 0.570155 25.3313C0.571032 25.3723 0.571508 25.4133 0.571984 25.4543C0.576372 25.8324 0.580762 26.2107 0.898513 26.5015C0.884866 26.3923 0.889004 26.2769 0.893152 26.1612Z"
      fill="#DB4926" />
    <path d="M33.3582 16.3821L33.1731 15.9522L33.3582 16.3821Z" fill="#D62726" />
    <path
      d="M55.2997 8.88096C52.7869 9.51297 51.127 10.914 50.3198 13.0842C50.8681 14.8051 52.0597 15.5818 53.8949 15.4143C53.7578 16.1986 53.7083 16.8763 53.7464 17.4474V22.1075C53.7768 23.3182 53.7235 24.3576 53.5865 25.2257C53.7388 25.9795 53.7388 26.6534 53.5865 27.2473C53.7159 27.826 53.7692 28.3933 53.7464 28.9492L54.0548 28.8007C55.4635 30.6967 56.7084 30.2284 57.7897 27.3958V26.1508L57.6298 25.0658L57.7897 24.5975V23.5124L57.9382 22.5758C58.2352 21.1595 58.338 19.9678 58.2466 19.0007V18.5324C58.7339 17.0857 58.9433 15.7379 58.8748 14.4891C60.7556 14.0398 61.6884 12.8443 61.6732 10.9026C59.6934 9.29595 57.5689 8.62206 55.2997 8.88096ZM73.1179 9.85182L72.7752 10.8113L72.4326 11.5994L72.2612 12.3989L71.9186 13.1984L71.5759 13.998L71.4046 14.7975L71.2333 15.9168C70.9287 16.5108 70.7002 17.0933 70.548 17.6644C70.3804 18.8979 69.9807 19.9107 69.3487 20.7026C69.3791 21.4488 69.2649 22.0846 69.006 22.61C68.3816 23.0974 67.8143 22.9908 67.3041 22.2902L66.7902 21.4907V21.0224V20.3828C66.9501 19.4919 67.0072 18.7456 66.9615 18.1441V16.545L67.1328 13.3583V12.8786C66.6226 11.9496 66.3371 11.0473 66.2762 10.1716C65.7888 9.69191 65.2749 9.3721 64.7342 9.21219L63.3522 10.8113C62.0881 14.847 61.715 17.7101 62.2328 19.4005L62.1643 22.4501C62.0653 23.4248 62.0653 24.2243 62.1643 24.8487C63.3293 28.8007 65.7812 29.9162 69.52 28.1953L71.1419 30.3655C72.5049 29.9391 73.6737 29.1091 74.6484 27.8755L74.8197 27.2359V26.7562C74.4923 25.5759 74.3781 24.5137 74.4771 23.5695V22.61C74.7436 21.9628 74.9149 21.3803 74.9911 20.8625L75.1624 20.063C75.3984 19.431 75.5127 18.8446 75.505 18.304L75.6764 17.8243L76.019 16.2252C76.8642 14.1617 77.264 12.3037 77.2183 10.6513C76.6092 9.50154 75.6954 9.02183 74.4771 9.21219L74.3057 8.73247L73.1179 9.85182ZM82.5181 8.88096C79.2895 9.39875 78.1778 12.7263 79.1829 18.8637C78.9392 20.0135 78.5699 20.9615 78.075 21.7077C78.1435 22.4996 78.3301 23.1355 78.6346 23.6152L78.7717 24.0835V26.3107C78.8859 27.7118 78.9316 28.873 78.9088 29.7944C79.0687 29.901 79.16 30.0076 79.1829 30.1142C79.7464 30.3655 80.3022 30.415 80.8505 30.2627C81.018 29.8896 81.2046 29.5736 81.4102 29.3147L81.5472 28.9949C81.7528 27.7461 82.0764 26.7448 82.5181 25.9909L83.2148 27.4187L83.7631 27.727L84.3227 28.3667L85.008 28.6865L85.8418 29.1548L86.4015 29.6345C87.1325 29.9162 87.7341 30.2322 88.2062 30.5825L88.7544 30.9023L89.3141 31.0622L90.422 31.8503L90.8446 32.0102L91.1187 32.3301L91.5299 32.49L91.9525 32.6385L94.1684 34.0662L95.973 34.386L96.6698 33.2781V32.1702C96.5099 32.0636 96.4185 31.9569 96.3956 31.8503C96.2281 31.7437 96.1329 31.6371 96.1101 31.5305L95.836 31.3706L95.4248 31.0622C94.9908 30.7043 94.6671 30.335 94.4539 29.9543C93.9057 29.6421 93.4869 29.2728 93.1975 28.8464L92.9234 28.6865L92.6493 28.5266L91.8155 27.887L90.9817 27.5786L90.7076 27.2588L90.422 27.0988C89.4473 26.6572 88.663 26.0747 88.0691 25.3513L87.7836 25.2028L87.5094 25.0429L86.6756 24.4033C85.7543 23.718 85.0613 22.9261 84.5969 22.0275L83.9001 21.3993C89.5654 18.7418 91.648 15.4676 90.1479 11.5765C87.6122 9.73379 85.069 8.83527 82.5181 8.88096ZM83.0663 12.9015C85.6629 13.5715 85.5258 14.5424 82.6551 15.814V15.4028L83.0663 12.9015ZM104.471 8.26418C104.334 8.78958 104.197 9.04467 104.06 9.02944L103.649 9.44063C103.344 10.0803 102.933 10.5371 102.415 10.8113L102.004 11.4966L101.867 11.9078C102.057 12.2428 102.103 12.6997 102.004 13.2784L101.73 14.7861L101.593 15.1973L101.456 15.8826L101.318 16.2938V16.7049L101.044 17.8014C100.747 18.6543 100.565 19.3853 100.496 19.9944L100.222 19.5833C100.093 19.1264 99.9555 18.7609 99.8108 18.4868L98.5772 15.0602C98.996 14.0551 99.1331 13.0956 98.9884 12.1819C97.93 11.4661 96.8792 11.2834 95.836 11.6336C95.1126 12.1362 94.5643 12.6388 94.1912 13.1413L93.9171 13.8266C93.7115 14.5805 93.6201 15.4485 93.643 16.4308C93.4145 16.9334 93.1861 17.3446 92.9577 17.6644V18.2126L92.8206 19.1721L92.6835 20.1315L92.5465 20.9539L92.4094 21.3651L92.2724 22.3245V23.2839L92.1353 23.6951C92.1201 24.2205 92.0744 24.6774 91.9982 25.0658V25.4769C91.7698 26.3831 91.6327 27.1598 91.587 27.807C92.2647 28.4695 92.6759 29.2005 92.8206 30C93.4374 29.2385 94.1227 28.6903 94.8765 28.3553C95.0517 26.0252 95.6456 24.0149 96.6584 22.3245L96.9325 22.7357L97.2066 23.1469L97.3437 23.421L97.8919 24.3804C98.3107 25.8577 98.9503 27.0912 99.8108 28.0811C100.557 28.2258 101.242 28.2258 101.867 28.0811C104.852 24.3652 105.994 20.3447 105.293 16.0196C105.682 13.2555 105.453 10.8798 104.608 8.89238H104.471H104.608L104.471 8.26418ZM108.354 9.28072C108.042 9.99649 107.73 10.5638 107.418 10.9826L107.269 11.291C106.911 11.6945 106.652 12.1057 106.493 12.5245C106.98 13.4611 107.186 14.3901 107.109 15.3115C106.965 16.6516 106.554 17.7329 105.876 18.5553C105.815 19.6746 105.971 20.6036 106.344 21.3422L105.876 23.9693L105.716 25.0543C105.48 26.6001 105.43 27.8908 105.567 28.9263C106.565 29.2766 107.543 29.3794 108.503 29.2347H108.971C110.905 29.9124 112.71 30.1713 114.385 30.0114C114.773 29.3566 114.979 28.736 115.002 28.1497C114.134 27.5329 113.517 26.8095 113.152 25.9795L111.907 25.831C110.94 25.5264 110.117 25.3208 109.439 25.2142V24.7459L109.588 24.4375V23.9693L109.896 22.7357L110.205 21.6506H110.673L110.981 21.5021H112.215C113.197 21.3574 114.023 21.3574 114.693 21.5021C118.539 20.1087 118.695 18.7647 115.162 17.4702L114.385 17.79H113.917L112.215 17.4702L110.673 17.1618V16.7049L110.821 16.3965L110.981 13.6096L111.45 13.4497L112.066 13.3012H113.3C114.709 12.951 115.897 12.7454 116.864 12.6844C117.991 10.994 117.321 9.70333 114.853 8.81243L113.917 9.12082H112.683H112.215L111.758 9.28072L111.45 9.12082L110.365 8.97233H109.896C109.409 8.86573 108.998 8.81243 108.663 8.81243L108.354 9.28072ZM120.256 8.91522C119.715 9.95081 119.434 10.975 119.411 11.9877C119.593 12.0715 119.734 12.2352 119.833 12.4788L119.696 14.2492L119.548 17.0019L119.274 19.5947C119.099 20.4627 119.003 21.1633 118.988 21.6963C118.638 22.8766 118.497 23.954 118.566 24.9287C118.017 25.1952 117.598 25.5188 117.309 25.8995C117.157 27.1407 117.157 28.2182 117.309 29.1319C117.758 29.5127 118.131 29.783 118.428 29.9429H118.851L119.274 29.783H119.696H120.107C120.633 29.6459 121.151 29.5926 121.661 29.6231C122.171 29.3642 122.635 29.2005 123.054 29.1319C128.263 29.0939 131.259 26.4516 132.043 21.2052C132.234 19.9031 132.184 18.719 131.895 17.653C131.788 17.5464 131.743 17.4359 131.758 17.3217L131.484 17.0019L131.335 16.5222C130.848 15.8902 130.475 15.2962 130.216 14.7404C129.774 14.3673 129.447 14.0436 129.234 13.7695L128.388 12.6388C127.551 12.0524 126.896 11.4052 126.424 10.697C125.868 10.3315 125.449 9.8975 125.167 9.39494L124.608 9.56627L124.322 9.39494C122.708 8.96852 121.352 8.80862 120.256 8.91522ZM123.431 14.0893C127.185 15.4067 128.868 18.2126 128.48 22.5073C126.721 25.3246 124.71 25.5912 122.449 23.3068C122.464 22.492 122.556 21.7915 122.723 21.2052V20.7254C122.913 19.8498 123.009 19.0959 123.009 18.4639L123.146 17.9728V17.493V17.0019L123.283 16.6821L123.431 14.0893ZM150.136 8.26418C149.998 8.78958 149.861 9.04467 149.724 9.02944L149.313 9.44063C149.009 10.0803 148.597 10.5371 148.08 10.8113L147.668 11.4966L147.531 11.9078C147.722 12.2428 147.767 12.6997 147.668 13.2784L147.394 14.7861L147.257 15.1973L147.12 15.8826L146.983 16.2938V16.7049L146.709 17.8014C146.412 18.6543 146.229 19.3853 146.161 19.9944L145.887 19.5833C145.757 19.1264 145.62 18.7609 145.475 18.4868L144.242 15.0602C144.661 14.0551 144.798 13.0956 144.653 12.1819C143.595 11.4661 142.544 11.2834 141.501 11.6336C140.777 12.1362 140.229 12.6388 139.856 13.1413L139.582 13.8266C139.376 14.5805 139.285 15.4485 139.308 16.4308C139.079 16.9334 138.851 17.3446 138.622 17.6644V18.2126L138.485 19.1721L138.348 20.1315L138.211 20.9539L138.074 21.3651L137.937 22.3245V23.2839L137.8 23.6951C137.785 24.2205 137.739 24.6774 137.663 25.0658V25.4769C137.434 26.3831 137.297 27.1598 137.252 27.807C137.929 28.4695 138.341 29.2005 138.485 30C139.102 29.2385 139.787 28.6903 140.541 28.3553C140.716 26.0252 141.31 24.0149 142.323 22.3245L142.597 22.7357L142.871 23.1469L143.008 23.421L143.557 24.3804C143.975 25.8577 144.615 27.0912 145.475 28.0811C146.222 28.2258 146.907 28.2258 147.531 28.0811C150.516 24.3652 151.658 20.3447 150.958 16.0196C151.346 13.2555 151.118 10.8798 150.273 8.89238H150.136H150.273L150.136 8.26418ZM155.15 8.86953C154.19 9.76806 153.73 10.8341 153.768 12.0677C154.072 12.6388 154.278 13.1984 154.384 13.7467H154.841C155.999 13.2365 157.065 12.9814 158.039 12.9814V13.4383C157.758 14.4358 157.605 15.3 157.583 16.031L157.274 16.9448L156.977 19.5376L156.817 19.9944L156.669 21.5135L156.52 21.8219C156.467 22.9184 156.364 23.8322 156.212 24.5632C153.966 25.0429 152.797 24.685 152.705 23.4895C151.236 24.2891 150.474 25.4579 150.421 26.996L151.026 27.4529L152.705 28.0697L153.162 28.2182L153.471 28.3667L153.928 28.5266L157.434 29.4403C157.556 29.6155 157.605 29.8173 157.583 30.0457L158.805 29.8972L159.867 29.7373C160.948 29.8211 161.862 29.7221 162.608 29.4403C162.821 28.953 162.974 28.4961 163.065 28.0697C161.588 27.2093 160.522 26.1927 159.867 25.0201L160.015 24.4033V23.7979L160.175 23.0327V22.5758L160.324 21.9704L160.472 21.5135V20.9082L160.632 20.2914L160.781 18.6238L160.929 18.007V17.5502L161.089 17.2532L161.546 14.2035C164.417 14.2797 165.787 13.4154 165.658 11.6108C165.285 10.9026 164.931 10.343 164.596 9.93177L164.139 9.78328L162.46 9.47489C161.896 9.55104 161.386 9.55104 160.929 9.47489L160.632 9.32641H160.175H159.719H159.262L158.645 9.17793C157.305 9.24646 156.14 9.14366 155.15 8.86953ZM178.142 8.26418C178.005 8.78958 177.868 9.04467 177.731 9.02944L177.32 9.44063C177.015 10.0803 176.604 10.5371 176.086 10.8113L175.675 11.4966L175.538 11.9078C175.728 12.2428 175.774 12.6997 175.675 13.2784L175.401 14.7861L175.264 15.1973L175.127 15.8826L174.99 16.2938V16.7049L174.715 17.8014C174.418 18.6543 174.236 19.3853 174.167 19.9944L173.893 19.5833C173.764 19.1264 173.627 18.7609 173.482 18.4868L172.248 15.0602C172.667 14.0551 172.804 13.0956 172.659 12.1819C171.601 11.4661 170.55 11.2834 169.507 11.6336C168.784 12.1362 168.235 12.6388 167.862 13.1413L167.588 13.8266C167.383 14.5805 167.291 15.4485 167.314 16.4308C167.086 16.9334 166.857 17.3446 166.629 17.6644V18.2126L166.492 19.1721L166.355 20.1315L166.218 20.9539L166.08 21.3651L165.943 22.3245V23.2839L165.806 23.6951C165.791 24.2205 165.745 24.6774 165.669 25.0658V25.4769C165.441 26.3831 165.304 27.1598 165.258 27.807C165.936 28.4695 166.347 29.2005 166.492 30C167.108 29.2385 167.794 28.6903 168.548 28.3553C168.723 26.0252 169.317 24.0149 170.329 22.3245L170.604 22.7357L170.878 23.1469L171.015 23.421L171.563 24.3804C171.982 25.8577 172.621 27.0912 173.482 28.0811C174.228 28.2258 174.913 28.2258 175.538 28.0811C178.523 24.3652 179.665 20.3447 178.964 16.0196C179.353 13.2555 179.124 10.8798 178.279 8.89238H178.142H178.279L178.142 8.26418ZM184.31 9.06371L181.603 9.22361L180.655 9.54343C180.678 11.3329 181.26 12.7149 182.402 13.6896C183.179 13.6743 183.815 13.4611 184.31 13.0499C185.307 12.8748 186.16 12.8215 186.868 12.89C186.686 18.0223 185.41 22.4349 183.042 26.128C182.501 26.1508 182.075 26.2041 181.763 26.2879C181.23 25.2752 180.701 24.4756 180.175 23.8893L179.056 23.7294C178.591 27.9174 180.08 29.9924 183.522 29.9543L184.63 29.7944C184.736 29.604 184.843 29.4974 184.949 29.4746L185.269 29.1548L186.229 28.5152C186.587 28.0202 186.96 27.6471 187.348 27.3958L188.616 24.8487L188.776 24.369L188.936 24.0492L189.575 21.8219L190.055 20.5427V20.063L190.215 19.7432L190.535 18.4753L190.695 18.1555C191.266 16.3356 191.528 14.7937 191.483 13.5297C193.744 13.621 195.233 12.8253 195.949 11.1425C195.172 10.7465 194.536 10.3734 194.041 10.0231C192.99 9.7414 192.138 9.42159 191.483 9.06371L191.003 9.38352C190.5 9.28453 190.078 9.23123 189.735 9.22361C187.832 8.88857 186.236 8.78197 184.949 8.9038L184.31 9.06371ZM202.356 10.6628L201.168 12.7301L199.775 16.8877L198.462 17.6872L197.902 19.0921L198.05 20.5427C197.434 21.7839 196.901 23.0136 196.451 24.232L196.154 28.3667C196.794 29.1586 197.483 29.6497 198.222 29.8401L199.695 28.3667L201.009 23.7408L204.424 23.0555C203.906 26.2079 203.841 27.6928 204.23 27.51L205.303 30.1371C209.278 24.0378 209.769 17.8395 206.777 11.5423L207.074 10.3658C206.183 9.8937 205.494 9.40256 205.006 8.89238L202.356 10.6628ZM202.471 19.6289L203.716 16.6593L204.435 19.469L202.471 19.6289Z"
      fill="black" />
  </symbol>
  <symbol id="arrow-left" fill="currentColor" viewBox="0 0 18 7" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.881999 3.654L6.426 6.948V4.086H17.262V3.114H6.426V0.162L0.881999 3.654Z" fill="currentColor" />
  </symbol>
  <symbol id="arrow-slide-prev" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M6.48901 1.00708L1.41797 5.5L6.48901 10.3877" stroke="#767676" stroke-width="1.5" stroke-linecap="round"
      stroke-linejoin="round" />
  </symbol>
  <symbol id="arrow-slide-next" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1.51099 1.00708L6.58203 5.5L1.51099 10.3877" stroke="#767676" stroke-width="1.5" stroke-linecap="round"
      stroke-linejoin="round" />
  </symbol>

</svg>