<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <main class="steenify__page home-page" data-view="home" id="main__content fullpage" data-full-page>
    <section class="section">
      <div class="ltr-bg">
        <div class="ltr-bg__content">
          <div class="container">
            <h4 class="ltr-bg__type animated fadeIn" data-delay="0.1">
              Lifestyle
            </h4>
            <div class="ltr-bg__title">
              <h2 class="title animated fadeIn" data-delay="0.2">
                ENJOY THE RICH
              </h2>
              <h2 class="title animated fadeIn" data-delay="0.3">
                INTERWOVEN
              </h2>
              <h2 class="title animated fadeIn" data-delay="0.4">
                FABRIC <span class="sub">of</span> </span> NATURE
              </h2>
            </div>
            <p class="ltr-bg__detail animated fadeIn" data-delay="0.8">
              For a neighbourhood that adjoins the CBD, New Farm has a surprisingly welcoming village feel. It’s the
              combination of tree lined streets, connoisseur hotspots and genuine café culture along with refreshing
              river
              breezes and green open spaces that make New Farm one of the most exclusive and sought-after of Brisbane’s
              inner-city suburbs.
            </p>
            <p class="ltr-bg__detail animated fadeIn" data-delay="1">
              Whether it’s a morning run along the Riverwalk to Howard St Wharves, a coffee and some shopping at Merthyr
              Village, some fun and games in the fields of new farm park, a fix of culture and entertainment at the
              Powerhouse
              or a visit to the James Street shopping and dining precinct, this is an address that puts adventure on
              your
              doorstep and every-day convenience at your fingertips.
            </p>
          </div>
        </div>

        <div class="ltr-bg__background">
          <div class="background" style=" background-image:
            url('https://anthologynewfarm.com.au/wp-content/uploads/2019/04/rowers-on-the-lake-1600x1801.jpg');">
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="rtl-bg">
        <div class="container-fluid">
          <div class="slider" data-slider>
            <div class="item" dir="rtl">
              <div class="item__bg">
                <div class="bg"
                  style="background-image: url('https://anthologynewfarm.com.au/wp-content/uploads/2019/04/ArcDiningandWinebar_2500-2000x1334.jpg')">
                </div>
              </div>
              <div class="item__desc" dir="ltr">
                <div class="item__page"> 1 / 11 </div>
                <h4 class="item__title"> Arc Dining and Wine Bar </h4>
                <div class="item__actions">
                  <i class="fas fa-chevron-left" data-btn-prev></i>
                  <i class="fas fa-chevron-right" data-btn-next></i>
                </div>
              </div>
            </div>
            <div class="item" dir="rtl">
              <div class="item__bg">
                <div class="bg"
                  style="background-image: url('https://anthologynewfarm.com.au/wp-content/uploads/2019/04/Brisbane_riverwalk-2000x1334.jpg')">
                </div>
              </div>
              <div class="item__desc" dir="ltr">
                <div class="item__page"> 2 / 11 </div>
                <h4 class="item__title"> River Walk </h4>
                <div class="item__actions">
                  <i class="fas fa-chevron-left" data-btn-prev></i>
                  <i class="fas fa-chevron-right" data-btn-next></i>
                </div>
              </div>
            </div>
            <div class="item" dir="rtl">
              <div class="item__bg">
                <div class="bg"
                  style="background-image: url('https://anthologynewfarm.com.au/wp-content/uploads/2019/04/Brisbane_riverwalk-2000x1334.jpg')">
                </div>
              </div>
              <div class="item__desc" dir="ltr">
                <div class="item__page"> 3/11 </div>
                <h4 class="item__title"> Moray St Cafe </h4>
                <div class="item__actions">
                  <i class="fas fa-chevron-left" data-btn-prev></i>
                  <i class="fas fa-chevron-right" data-btn-next></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <% include ../partials/footer %>
</body>

</html>