@font-face {
  font-family: $font;
  src: url('/public/font/ComicSansMS.eot');
  src: url('/public/font/ComicSansMS.eot?#iefix') format('embedded-opentype'), url('/public/font/ComicSansMS.woff') format('woff'), url('/public/font/ComicSansMS.ttf') format('truetype'), url('/public/font/ComicSansMS.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font;
  src: url('/public/font/ComicSansMS-Bold.eot');
  src: url('/public/font/ComicSansMS-Bold.eot?#iefix') format('embedded-opentype'), url('/public/font/ComicSansMS-Bold.woff') format('woff'), url('/public/font/ComicSansMS-Bold.ttf') format('truetype'), url('/public/font/ComicSansMS-Bold.svg#ywftsvg') format('svg');
  font-weight: bold;
}

@font-face {
  font-family: $avenir;
  src: url('/public/font/Avenir-Roman.eot');
  src: url('/public/font/Avenir-Roman.eot?#iefix') format('embedded-opentype'), url('/public/font/Avenir-Roman.woff') format('woff'), url('/public/font/Avenir-Roman.ttf') format('truetype'), url('/public/font/Avenir-Roman.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $avenir;
  src: url('/public/font/Avenir-Medium.eot');
  src: url('/public/font/Avenir-Medium.eot?#iefix') format('embedded-opentype'), url('/public/font/Avenir-Medium.woff') format('woff'), url('/public/font/Avenir-Medium.ttf') format('truetype'), url('/public/font/Avenir-Medium.svg#ywftsvg') format('svg');
  font-weight: bold;
}

@font-face {
  font-family: $title;
  src: url('/public/font/InjaNaruto.eot');
  src: url('/public/font/InjaNaruto.eot?#iefix') format('embedded-opentype'), url('/public/font/InjaNaruto.woff') format('woff'), url('/public/font/InjaNaruto.ttf') format('truetype'), url('/public/font/InjaNaruto.svg#ywftsvg') format('svg');
  font-weight: normal;
  font-style: normal;
}