.color_main {
  color: $main_color;
}

.transition-fade-up,
.transition-fade-down,
.transition-fade-left,
.transition-fade-right {
  opacity: 1;
  transition-property: opacity, transform;
  transition-duration: 1.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateZ(0);
}

html.is-animating {
  .transition-fade-up {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  .transition-fade-down {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }

  .transition-fade-left {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }

  .transition-fade-right {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
  }
}

// body {//   padding-top: 0;
// }

.title-page {
  font-size: em(35px);
  line-height: em(41, 35px);
  font-weight: bold;
  margin-bottom: em(20px, 35px);
}

.number-input {
  border: 0;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.fas[aria-disabled=true] {
  color: rgba(77, 77, 79, .3) !important;
}

.number-input {
  button {

    &:before,
    &:after {
      display: inline-block;
      position: absolute;
      content: '';
      width: 1rem;
      height: 2px;
      background-color: $text_total;
      transform: translate(-50%, -50%);
    }
  }

  .plus,
  .minus {
    background-color: $bg;
    outline: none;
    border: none;
    border: 1px solid $border_quantity;
    align-items: center;
    justify-content: center;
    position: relative;
    width: em(41px);
    height: em(38px);
    cursor: pointer;
    margin: 0;
    box-shadow: 0px 0px 1px $border_quantity;
    -webkit-appearance: none;
  }

  .minus {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  .plus {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;

    &:after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  .quantity {
    font-size: em(16px);
    font-family: $avenir;
    height: em(38px, 16px);
    max-width: em(53px, 16px);
    padding: 0.5rem;
    border: none;
    border-top: 1px solid $border_quantity;
    border-bottom: 1px solid $border_quantity;
    font-weight: bold;
    text-align: center;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }
}