.footer {
  &__steenify {
    background-color: $black;
    color: $white;
    margin-top: em(50px);
    padding-top: em(50px);

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: em(26px, 16px);

      &__title {
        font-size: em(23px, 16px);
        font-family: $title;
        line-height: em(27px, 16px);
        margin-left: em(10px, 16px);
      }
    }

    .footer-contact {
      font-size: em(16px, 16px);
      line-height: em(21px, 16px);
      color: $link_color;
      margin-bottom: em(30px, 16px);
    }

    .social {

      &__item {
        display: inline-block;
        margin-right: em(11px, 16px);
      }

      &__link {
        color: $white;

        &:hover {
          color: $main_color;
        }
      }
    }
  }

  &__main {
    font-size: em(16px);
    line-height: 1.2;
  }

  &__menu {
    margin: em(12px) 0 0 em(79px);
  }

  &__sign-up {
    margin: em(12px) 0 0 em(75px);
  }

  &__title {
    font-size: em(20px);
    line-height: em(23px, 20px);
    margin-bottom: em(32px, 20px);
  }

  &__list {
    color: $menu_color;
  }

  &__intro {
    font-size: em(16px, 16px);
    line-height: em(22px, 16px);
    margin-bottom: em(24px, 16px);
  }

  &__item {
    font-size: em(15px);
    line-height: em(26px, 15px);

    a {
      color: $menu_color;

      &:hover {
        color: $white;
      }
    }
  }

  &__form {
    position: relative;

    .icon {
      position: absolute;
      left: em(15px);
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__input {
    font-size: em(15px);
    color: $white;
    width: calc(100% - 51px);
    background-color: transparent;
    padding-left: em(30px, 15px);
    padding: em(9px, 15px) em(9px, 15px) em(9px, 15px) em(48px, 15px);
  }

  &__desc {
    font-size: em(15px);
    line-height: em(21px, 15px);
    margin-bottom: em(30px, 15px);
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid $border_footer;
    margin-top: em(45px);
    padding: em(10px) 0;
  }

  &__copy {
    font-size: em(16px);
    line-height: em(19px, 16px);
    flex-grow: 1;
  }

  @include max-ml {
    &__steenify {
      padding-top: em(30px);
      margin-top: em(30px);

      .footer-contact {
        margin-bottom: em(24px, 16px);
      }

      .social {
        margin-bottom: em(25px);
      }
    }

    &__menu {
      margin: 0;
    }

    &__sign-up {
      margin: 0;
    }

    &__title {
      margin-bottom: em(13px, 20px);
    }

    &__list {
      margin-bottom: em(23px);
    }

    &__intro {
      line-height: em(21px, 16px);
      margin-bottom: em(11px, 16px);
    }

    &__input {
      width: 90%;
    }

    &__desc {
      margin-bottom: 18px;
    }

    &__bottom {
      display: block;
      padding: em(24px) 0;
      margin: em(27px) em(-15px) 0;
    }

    &__copy {
      text-align: center;
      font-size: em(14px);
      line-height: em(16px, 14px);
    }

  }
}
