.header {
  &__main {
    font-family: $font;
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    transition: all 0.3s ease-in-out;

    .top-bar {
      font-family: 'Roboto', sans-serif;
      color: $white;
      background-color: $main_color;
      height: 45px;

      &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: em(18px);
        letter-spacing: 0.8px;
        height: em(45px, 18px);
        margin-bottom: 0;
      }
    }
  }

  &__wrapper,
  &__actions {
    font-size: em(16px);
  }

  &__wrapper {
    color: $black;
    background-color: $white;
    display: flex;
    flex-direction: row;
    height: 70px;
    transition: all 0.3s ease-in-out;

    &.active {
      position: relative;

      .header {

        &__logo,
        &__nav {
          display: none;
        }
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;

    &.searching {
      width: 100%;

      .header {

        &__action,
        &__dropdown {
          display: none;
        }

        &__search {
          width: 100%;

          .input-search {
            display: block;
            width: 100%;
            position: unset;
            padding: em(10px, 16px) em(15px, 16px);
            opacity: 1;
            border: 1px solid $black;
            border-radius: 5px;
            cursor: text;
            margin-right: em(15px, 16px);
            background-color: $web_bg;
            border: none;
          }

          .icon-search {
            display: none;
          }

          .icon-close {
            display: inherit;
          }
        }
      }
    }
  }

  &__logo {
    display: inline-block;
  }

  &__link {
    &:hover {
      color: $main_color;
    }
  }

  &__item {
    padding: 0 em(20px, 16px);
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;

    a {
      color: $black;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: em(30px, 16px);
  }

  &__mobile {
    display: none;
  }

  &__dropdown {
    display: inline-block;
    position: relative;

    .arrow-down {
      position: absolute;
      right: 10px;
      top: 15px;
      width: 0px;
      height: 0px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $arrow_color;
    }
  }

  &__language {
    font-weight: bold;
    font-size: em(18px, 18px);
    line-height: em(25px, 18px);
    display: block;
    max-height: em(35px, 18px);
    border: 1px solid $border_color;
    border-radius: 5px;
    padding: em(4px, 18px) em(25px, 18px) em(4px, 18px) em(8px, 18px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__action,
  &__search,
  &__toogle {
    display: flex;
    position: relative;
    margin-left: em(28px, 18px);

    .icon {
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }

    .input-search {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 20px;
      outline: none;
      border: none;
      opacity: 0;
    }

    .icon-close {
      display: none;
      cursor: pointer;
    }
  }

  &__search {
    .input-search {
      width: 100%;
      display: block;
      opacity: 0;
    }
  }

  &__toogle {
    display: none;

    &__btn {
      direction: rtl;
    }

    &__bar {
      display: block;
      background: $black;
      height: 2px;
      width: em(23px, 18px);
      margin-bottom: em(5px, 18px);
      transition: all 0.3s ease-in-out;

      &:nth-child(2) {
        width: em(17px, 18px);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.active {
      .header {
        &__toogle {
          &__bar {
            &:first-child {
              transform: rotate(-45deg) translate(-5px, 6px);
            }

            &:nth-child(2) {
              display: none;
            }

            &:last-child {
              transform: rotate(45deg) translate(-4px, -5px);
            }
          }
        }
      }
    }
  }

  @include max-xl {
    &__nav {
      margin-left: em(10px, 16px);
    }

    &__item {
      padding: 0 em(10px, 16px);
    }
  }

  @include max-ml {
    &__main {
      &.fade-in {
        .header {

          &__logo,
          &__action,
          &__search {
            display: none;
          }

          &__actions {
            width: 100%;
            flex-direction: row-reverse;
          }
        }
      }

      .top-bar {
        display: none;
      }
    }

    &__wrapper {
      height: 60px;
    }

    &__actions {
      &.searching {
        .header {
          &__search {
            position: static;
            justify-content: flex-end;

            .input-search {
              position: absolute;
              top: 60px;
              left: 0;
              right: 0;
              height: 100%;
              width: 100%;
              border-radius: 0;
              padding: em(5px, 16px) em(10px, 16px);
              max-height: em(35px, 16px);
            }

            .icon-close {
              height: em(40px, 16px) !important;
            }
          }
        }
      }
    }

    &__action {
      &--login {
        display: none;
      }
    }

    &__logo {
      flex-grow: 1;

      .icon {
        max-width: 74%;
      }
    }

    &__nav {
      display: none;
      background-color: $white;
      position: fixed;
      top: 64px;
      right: 0;
      left: 0;
      bottom: 0;
      margin-left: 0;
      z-index: 2;
    }

    &__menu {
      flex-direction: column;
      margin-left: em(15px, 16px);
      padding: em(20px, 16px) 5px;
    }

    &__item {
      margin-bottom: em(8px, 16px);
      padding: em(10px, 16px);
    }

    &__link {
      font-size: em(20px, 16px);
    }

    &__dropdown {
      display: none;
    }

    &__mobile {
      display: block;
      text-align: center;
      border-bottom: 1px solid $border_slider;
      padding-bottom: em(30px, 16px);

      .btn-group-mobile {
        padding: 0 em(15px, 16px);

        .btn {
          font-size: em(13px, 16px);

          &__gray--2 {
            padding: em(9px, 13px) em(62px, 13px);
          }

          &__orange {
            padding: em(9px, 13px) em(23px, 13px);
          }
        }
      }
    }

    &__title {
      font-size: em(22px, 16px);
      line-height: em(26px, 22px);
      font-weight: bold;
      margin-bottom: em(35px, 22px);
    }

    &__toogle {
      display: block;

      &.active {
        .header {
          &__toogle {
            &__bar {
              &:first-child {
                transform: rotate(-45deg) translate(1px, 6px);
              }

              &:last-child {
                transform: rotate(45deg) translate(1px, -6px);
              }
            }
          }
        }
      }
    }
  }

  @include max-xs {
    &__mobile {
      .btn-group-mobile {
        .btn {
          display: block;
          margin: 0 auto em(10px, 13px);
        }
      }
    }
  }
}