// size
$fullWidth: 100%;

// font
$font: 'comic-sans-ms';
$title: 'ninjanaruto';
$avenir: 'avenir-roman';

// base color
$nocolor: transparent;
$white: #ffffff;
$black: #000000;


// web color
$main_color: #DF5525;
$menu_color: #FFAA58;
$second_color: $black;
$text_color: $black;
$title_color: $black;
$place_holder: $white;
$web_bg: #DFDFDF;
$bg: #FAFAFA;
$border_footer: #2D2D2D;
$border_color: #E4E4E4;
$link_color: #ABABAB;
$review_color: #616161;
$main_bg: #E3E3E3;
$border_slider: #EEEEEE;
$modal_text: #AFAFAF;
$gray_color: #BCBCBC;
$gray_color_2: #3F3F3F;
$arrow_color: #B4B4B4;
$text_total: #868686;
$done_text: #BFBFBF;
$border_quantity: #E7E7E7;
$border_turn: #F2F2F2;
$border_tooltip: #E0E0E0;
$gray_arrow: #4d4d4f;



@import './mixin.scss';